<div class="pagination__title">
  <span class="pagination__title-h">欢迎评论</span>
  <hr />
</div>
<link href="https://npm.elemecdn.com/artalk@2.5.5/dist/ArtalkLite.css" rel="stylesheet">
<script src="https://npm.elemecdn.com/artalk@2.5.5/dist/ArtalkLite.js"></script>
  <div id="Comments"></div>
<script>
  var defaultPageKey = '{{ .RelPermalink }}';
  var pageKey = defaultPageKey.replace(/\/$/, '');
  new Artalk({
    el: '#Comments',
    pageKey: `${pageKey}`,
    pageTitle: '{{ .Title }}',
    server: '{{ $.Site.Params.artalk.server }}',
    site: '{{ $.Site.Params.artalk.site }}',
    darkMode: 'auto'
    // ...你的其他配置
  })
</script>


