name: deloy blog.ysicing.net
on:
  push:
    branches:
    - master
  schedule:
    - cron: '0 5 */3 * *'

jobs:
  build:
    name: build & deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Login GHCR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCRIO }}
    - name: Login Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: yarn
    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - uses: actions/cache@v3
      id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - name: Install dependencies
      run: yarn install
    - name: Build website
      run: |
          sed -i "s#wiki.ysicing.me#blog.ysicing.net#g" docusaurus.config.js
          sed -i "s#your-website-id#23f3d65f-fc86-46d2-b55a-dce133268e92#g" docusaurus.config.js
          sed -i "s#京ICP#京ICP备17001940号#g" docusaurus.config.js
          rm -rf blog/451
          yarn build
          docker build -t ysicing/devops-handbook:blog.ysicing.net -f scripts/caddy/blog.ysicing.net/Dockerfile .
          docker push ysicing/devops-handbook:blog.ysicing.net
          docker tag ysicing/devops-handbook:blog.ysicing.net ghcr.io/ysicing/devops-handbook:blog.ysicing.net
          docker push ghcr.io/ysicing/devops-handbook:blog.ysicing.net
          sleep 10
          curl https://ergo-hooks.ysicing.me/auto
